.container {
  width: 540px;
  height: 846px;
  background: linear-gradient(175.58deg, rgba(255, 255, 255, 0.14) 0%, rgba(255, 255, 255, 0.27) 99.87%);
  box-shadow: -10px 48.5967px 140px rgba(126, 123, 160, 0.2);
  backdrop-filter: blur(19px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  margin: 2em auto;
  font-family: 'Poppins';
}

.title {
  width: 80%;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  height: 27px;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 24px;
}
.desc {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #ffffff;
  height: 27px;
  width: 80%;
  margin-top: 10px;
}
.text {
  width: 80%;
  margin-top: 50px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  height: 19px;
  color: #f2f2f2;
}
.from {
  width: 460px;
  height: 238px;
  background: #ffffff;
  border: 1px solid #cedaff;
  border-radius: 20px;
  margin-top: 11px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 30px;
  justify-content: flex-start;
}

.left {
  width: 40%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  /* or 133% */
  /* Color primary */
  color: #4500A0;
}

.right {
  width: 60%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  padding-right: 18px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  /* Inactive text color */
  color: #9a999c;
}
.bal {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
  margin-top: 5px;
  color: #9a999c;
}
.coin-container {
  width: 402px;
  height: 55px;
  background: #fcfcfc;
  border: 1px solid #d8d8d8;
  box-sizing: border-box;
  border-radius: 20px;
  margin-top: 25px;
  display: flex;
  flex-direction: row;
}
.addition {
  margin-top: 35px;
}
.text_select_token {
  width: 80%;
  margin-top: 35px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  height: 19px;
  color: #f2f2f2;
}
.select_token {
  width: 460px;
  height: 40px;
  background: #ffffff;
  border: 1px solid #cedaff;
  border-radius: 20px;
  height: 100px;
  margin-top: 11px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 30px;
  justify-content: flex-start;
}
.left {
  width: 40%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  /* or 133% */
  /* Color primary */
  color: #4500A0;
}

.right {
  width: 60%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  padding-right: 18px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  /* Inactive text color */
  color: #9a999c;
}

.coin_container {
  width: 402px;
  height: 55px;
  background: #fcfcfc;
  border: 1px solid #d8d8d8;
  box-sizing: border-box;
  border-radius: 20px;
  margin:15px 0;
  display: flex;
  flex-direction: row;
}
.btn_primary {
  cursor: pointer;
  width: 460px;
  height: 62px;
  background: #4500A0;
  border-radius: 8px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  border:none;
  margin-bottom: 50px;
}
.amt{
  color:#322E37;
  font-weight: bold;
}